<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>タスクの編集</title>
</head>
<body>
 
 	
 	<h2>タスクの編集</h2>
 		
 	<form action="/edit" method="post">
	 	
	 	<table border="1">
		 	<tr>
		 	<th>ID</th>
		 	<th>やること</th>
		 	<th>締切日</th>
		 	</tr>
		 	<tr>
		 	<td th:text="${task.id}"></td>
		 	<td><input type="text" name="name" th:value="${task.name}"></td>
		 	<td><input type="date" name="deadline" th:value="${#dates.format(task.deadline, 'yyyy-MM-dd')}" th:min="${today}" max="2070-12-31"></td>
		 	</tr>
	 	</table>
	 	
	 	<input type="submit" value="この内容で更新する">
	       
 	</form>
 	
 	
 	
</body>
</html>